*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    background-image: url(https://media.giphy.com/media/QdVskXUnrE1J6/giphy.gif);
    margin: left;
}
#character{
    width: 65px;
    position: relative;
    top:150px;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    width:20px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 3s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: left;
}